<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Corridas</title>
</head>
<body>
    <h1>Adicionar Corrida</h1>
    <form action="{{ url_for('resultados') }}" method="POST">
        <input type="number" name="tempo" placeholder="Adicione o tempo da sua corrida" required>
        <input type="number" name="distancia" placeholder="Adicione a distância de sua corrida" required>
        <button type="submit">Enviar</button>
    </form>

    <h2>Resultados para {{ session['usuario'] }}:</h2>
    <ul>
        {% for resultado in result %}
            <li>Tempo: {{ resultado['tempo'] }}, Distância: {{ resultado['distancia'] }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('logout') }}">Sair</a>
</body>
</html>

